.cart-section {
  height: 100vh;
  padding: 3rem 0;
  background-color: #f3f4f6;
}

.cart-container {
  max-width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.cart-content {
  padding: 2rem;
}

.cart-items {
  margin-bottom: 2rem;
}

.cart-list {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 1.5rem;
}

.cart-item-image {
  position: relative;
  margin-right: 1.5rem;
}

.item-number {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #4b5563;
}

.item-image {
  width: 100px;
  height: 100px;
  border-radius: 0.5rem;
}

.cart-item-details {
  flex: 1;
}

.cart-item-info {
  margin-bottom: 0.75rem;
}

.item-name {
  font-size: 1.125rem;
  font-weight: bold;
  color: #374151;
  margin-bottom: 0.25rem;
}

.item-size {
  font-size: 0.875rem;
  color: #6b7280;
}

.cart-item-price {
  font-size: 1.125rem;
  font-weight: bold;
  color: #4b5563;
}
.remove-all-button {
  text-align: center;
  margin-left: 2rem;
}

.remove-all-btn {
  background-color: #dc2626;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;

  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-all-btn:hover {
  background-color: #c53030;
}

.cart-summary {
  border-top: 1px solid #d1d5db;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.subtotal,
.shipping,
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.subtotal-label,
.shipping-label,
.total-label {
  font-size: 1.125rem;
  color: #6b7280;
}

.subtotal-amount,
.shipping-amount,
.total-amount {
  font-size: 1.125rem;
  font-weight: bold;
  color: #4b5563;
}

.place-order-button,
.remove-order-button {
  text-align: center;
}

.place-order-btn,
.remove-order-btn {
  background-color: #f87171;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.place-order-btn:hover,
.remove-order-btn:hover {
  background-color: #ef4444;
}

.quantity {
  display: flex;
  align-items: center;
}

.count {
  margin: 0 12px;
  font-size: 20px;
}

.inc-dec button {
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

.empty-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}
.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.card-content {
  font-size: 18px;
  color: #888;
}

.go-to-store {
  text-align: center;
}

.go-to-st {
  margin: 3px;
  background-color: #38aa0b;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-to-st:hover {
  background-color: #0d5e28;
}
